@charset "utf-8" ;

article {
  width: 300px;
  padding: 20px;
  background-color: green;
}
div {
  background-color: silver;
  width: 100%;
  border: solid 5px white;
  padding: 20px;
  /* 追加 */
  box-sizing: border-box;
}